<title>Aqui é meu site</title>

<header>
    <h1>Titulo do site</h1>
    <h1> TESTE</h1>
</header>

<section>
    <p>Aqui é o conteudo do site</p>
    <p>Oi {{user.nome}}, voce tem {{user.idade}} anos?</p>
</section>